.slider.swipe#slider
    ul.slider__container.swipe-wrap#slider__container
        li.slider__content-slid.active__slide
            .slider__pic
        li.slider__content-slid
            .slider__pic
        li.slider__content-slid
            .slider__pic