.slider{
    size: 100%;
    position: relative;
}

.slider__container{
    position: absolute;
    top:0;
    left: 0;
    // transform: translateX(-66.6666%);
    size: 300% 100%;
    @util clearfix;
}

.slider__content-slid{
    size: 33.3333% 100%;
    float: left;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    &::after{
        content: '';
        display: block;
        size: 100%;
        position: relative;
        background-color: $color_bg;
        opacity: .75;
    }
}

.slider__content-slid:nth-of-type(1){
    background-image: url('../images/slid_hero_bg-1.jpg');
}

.slider__content-slid:nth-of-type(2){
    background-image: url('../images/slid_hero_bg-2.jpg');
}

.slider__content-slid:nth-of-type(3){
    background-image: url('../images/slid_hero_bg-3.jpg');
}

.slider__pic{
    
}